<div [class.sticky]="sticky">
  <div>
    <app-burger-menu
      (menuLinkOpen)="setMenuLink($event)"
      [active]="menuLinkOpen"
      [sticky]="sticky"
    ></app-burger-menu>
    <app-beauti-logo
      (click)="menuLinkOpen = false"
      [sticky]="sticky"
    ></app-beauti-logo>

    <ul class="menu-list">
      <li><a routerLink="/" aria-label="Beauti Homepage">HOME</a></li>
      <li><a routerLink="/about-us" aria-label="Beauti About us page">ABOUT US</a></li>
      <li><a routerLink="/treatments" aria-label="Beauti Treatment page">TREATMENTS</a></li>
      <li><a routerLink="/consultation" aria-label="Beauti Consultation page">CONSULTATION</a></li>
      <li><a routerLink="/contact" aria-label="Beauti Contact page">CONTACT</a></li>
    </ul>

    <div class="cta-section">
      <a href="https://uk.alumiermd.com?code=0E6A3577" target="_blank" class="alumier-shop">
        <button
          class="main-button alumier-button"
          color="primary"
          mat-flat-button
        >
          <div class="title">
            Shop
          </div>
          <img src="assets/alumier.svg" alt="Alumiermd product">
        </button>
      </a>
      <button
        (click)="openBooking()"
        class="main-button"
        color="primary"
        mat-flat-button
      >
        Book now
      </button>
    </div>

    <div class="mobile-menu"></div>
  </div>
</div>
<app-menu-link
  (menuLinkOpen)="setMenuLink($event)"
  [active]="menuLinkOpen"
  [class.active]="menuLinkOpen"
></app-menu-link>
