@import './palette';

.main-button, .mat-stroked-button {

  text-transform: uppercase!important;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif!important;
  font-size: 13px;

  &.mat-primary {
    border-radius: 2px;
    padding: 5px 50px;
    background-color: #C7CBD6 !important;
    letter-spacing: normal;
    height: 46px;
  }

  &.mat-stroked-button {
    border-radius: 2px;
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    width: 146px;
    height: 41px;
    color: $grey-black;
    border: 1px solid $grey-black;
  }
}

@mixin alumier-button {
  .alumier-shop {
    margin-right: 20px;
    font-family: 'Nunito Sans', sans-serif;
    justify-content: space-between;
    text-decoration: none;

    button.alumier-button {
      max-width: 175px;

      ::ng-deep > span.mdc-button__label {

        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Nunito Sans', sans-serif;
        color: #0f0f0f;
        font-weight: 600;
        div {
          font-family: 'Nunito Sans', sans-serif;
          position: relative!important;
          top: 2px;
          color: black;
          font-size: 12px;
        }

      }
    }

    img {
      margin-left: 10px;
      width: 70px;
    }
  }

}


